# Ambientes virtuais
venv/
env/
.venv/

# Python (compilados e cache)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Distribuição e build
dist/
build/
*.egg-info/

# Configurações de IDE
.vscode/
.idea/

# Arquivos de sistema e segurança
.env
*.Identifier
.DS_Store
Thumbs.db

# Pasta de PDFs
PDFs/

# Executáveis
*.exe
